@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
	font-family: "Roboto_Flex";
	src: url(fonts/RobotoFlex-VariableFont.ttf) format("truetype");
	font-weight: normal;
  font-style: normal;
  font-display: block;
}