@font-face {
  font-family: "Redaction";
  src: url(fonts/Redaction-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Redaction";
  src: url(fonts/Redaction-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Redaction";
  src: url(fonts/Redaction-Italic.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}